{{ ansible_managed | comment }}
[Unit]
Description=rundeck
After=syslog.target network.target

[Service]
Type=forking

ExecStart={{ rundeck_rdeckbase }}/server/sbin/rundeckd start
ExecStop={{ rundeck_rdeckbase }}/server/sbin/rundeckd stop

[Install]
WantedBy=multi-user.target
